@model IEnumerable<CybProjWeb.Entities.Department>
@{
    ViewData["Title"] = "Department";
}


<div class="col-12">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Departments</h4>
        </div>
        <div class="col-5 align-self-center">
            <div class="customize-input float-right">
                <a asp-controller="Department" asp-action="Create" class="btn btn-rounded btn-info">Setup Department</a>
            </div>
        </div><br />
        <div class="table-responsive">
            <table class="table">
                <thead class="thead-light">
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Name</th>
                        <th scope="col">Code</th>
                        <th scope="col">Faculty</th>
                        <th scope="col"></th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var dept in Model)
                    {
                    <tr>
                        <td scope="row">@dept.Id</td>
                        <td>@dept.DeptName</td>
                        <td>@dept.DeptCode</td>
                        <td>@dept.Faculty.FacultyName</td>

                        <td>
                        <a asp-controller="Department" asp-action="Edit" asp-route-id="@dept.Id" class="sidebar-link"
                           aria-expanded="false">
                            <i class="fas fa-edit"></i><span class="hide-menu">
                            </span>
                        </a></td>
                        <td>
                            <a asp-controller="Department"  onclick="return confirm('Are you sure you want to delete This record?')"  asp-action="Delete" asp-route-id="@dept.Id" class="sidebar-link"
                               aria-expanded="false">
                                <i class="fas fa-trash-alt"></i><span class="hide-menu">
                                </span>
                            </a>
                        </td>

                    </tr>
                    }

                </tbody>
            </table>
        </div>

    </div>
    
</div>
