@*@model IEnumerable<CybProjWeb.Entities.Salary>
    @{
        ViewData["Title"] = "Salary";
    }


    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Salary</h4>
            </div>
            <div class="col-5 align-self-center">
                <div class="customize-input float-right">
                    <a asp-controller="Salary" asp-action="Create" class="btn btn-rounded btn-info">Setup Salary</a>
                </div>
            </div><br />
            <div class="table-responsive">
                <table class="table">
                    <thead class="thead-light">
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Name</th>
                            <th scope="col">Grade</th>
                            <th scope="col">Basic Salary(N)</th>
                            <th scope="col">Housing(N)</th>
                            <th scope="col">Medical(N)</th>
                            <th scope="col">Lunch(N)</th>
                            <th scope="col">Transport(N)</th>
                            <th scope="col">Gross Salary(N)</th>
                            <th scope="col">Tax(N)</th>
                            <th scope="col">Net Salary(N)</th>

                            <th scope="col"></th>
                            <th scope="col"></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var s in Model)
                        {
                        <tr>
                            <td scope="row">@s.Id</td>
                            <td>@s.User.FirstName</td>
                            <td>@s.Grade.GradeName</td>
                            <td>@s.BasicSalary</td>
                            <td>@s.Housing</td>
                            <td>@s.Medical</td>
                            <td>@s.Lunch</td>
                            <td>@s.Transport</td>
                            <td>@s.GrossSalary</td>
                            <td>@s.Tax</td>
                            <td>@s.NetSalary</td>
                            <td>
                                <a asp-controller="Salary" asp-action="Edit" asp-route-id="@s.Id" class="sidebar-link"
                                   aria-expanded="false">
                                    <i class="fas fa-edit"></i><span class="hide-menu">
                                    </span>
                                </a>
                            </td>
                            <td>
                                <a asp-controller="Salary"  onclick="return confirm('Are you sure you want to delete This record?')" asp-action="Delete" asp-route-id="@s.Id" class="sidebar-link"
                                   aria-expanded="false">
                                    <i class="fas fa-trash-alt"></i><span class="hide-menu">
                                    </span>
                                </a>
                            </td>
                        </tr>
                        }

                    </tbody>
                </table>
            </div>
        </div>
    </div>
*@