@model CybProjWeb.Entities.User
@{
    // ViewData["Title"] = "Create";
}

<div class="col-sm-12 col-md-6 col-lg-4">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Edit User Profile</h4>
            <form method="post" asp-action="Edit" class="mt-4">

                <div class="form-group">
                    <input type="text" class="form-control" id="placeholder"
                           placeholder="FirstName" asp-for="FirstName">
                </div><br />
                <div class="form-group">
                    <input type="text" class="form-control" id="placeholder"
                           placeholder="LastName" asp-for="LastName">
                </div><br />
               
                <div class="form-group mb-4">
                    <label for="exampleFormControlSelect1">Country</label>
                    <select class="form-control" id="exampleFormControlSelect1" asp-for="Country">
                        <option>Nigeria</option>
                    </select>
                </div><br />
                <div class="form-group mb-4">
                    <label for="exampleFormControlSelect1">State</label>
                    <select class="form-control" id="StateId" asp-for="StateId" asp-items="@(new SelectList(ViewBag.state, "Id", "Name"))">
                        <option>Choose State</option>
                    </select>
                </div><br />
                <div class="form-group mb-4">
                    <label for="exampleFormControlSelect1">LGA</label>
                    <select class="form-control" id="LGAId" asp-for="LGAId" asp-items="@(new SelectList(string.Empty, "Id", "Name"))"></select>
                </div><br />
                <div class="form-group mb-4">
                    <label for="exampleFormControlSelect1">Department</label>
                    <select class="form-control" id="exampleFormControlSelect1" asp-for="DepartmentId" asp-items="@ViewBag.dept">
                        <option>Choose Option</option>
                    </select>
                </div><br />
                <div class="form-group mb-4">
                    <label for="exampleFormControlSelect1">Faculty</label>
                    <select class="form-control" id="exampleFormControlSelect1" asp-items="@ViewBag.fac">
                        <option>Choose Option</option>
                    </select>
                </div>    <br />



                <button type="submit" class="btn btn-rounded btn-outline-success">Submit</button>
                <a href="Cancel" type="button" class="btn btn-rounded btn-outline-danger">Cancel</a>
            </form>
        </div>
    </div>
</div>
<script src="~/dist/js/jquery-3.5.1.js"></script>
<script>
    $(function () {
        $("#StateId").change(function () {

            var url = '@Url.Content("~/")' + "User/getLGAbyId";
            var ddlsource = "#StateId";
            $.getJSON(url, { id: $(ddlsource).val() }, function (data) {
                var items = '';
                $("#LGAId").empty();
                $.each(data, function (i, row) {
                    items += "<option value='" + row.value + "'>" + row.text + "</option>";
                });
                $("#LGAId").html(items);
            })
        });
    });

</script>